adb_path: adb
serial: ""
loop_interval_sec: 1.0
jitter_sec: 0.2
screenshot_dir: logs/screens
save_debug_screenshots: false

templates:
  - name: start_button
    path: templates/start_button.png
    threshold: 0.92
    action:
      type: tap_center

  - name: play_button
    path: templates/play_button.png
    threshold: 0.92
    action:
      type: tap_center

startup_flow:
  - type: click_template
    template: start_button

  - type: pick_airport_text
    target_text: INN
    min_ocr_confidence: 55
    max_scrolls: 8
    ocr_region_pct:
      x: 0.78
      y: 0.12
      w: 0.20
      h: 0.78
    swipe_pct:
      x1: 0.88
      y1: 0.86
      x2: 0.88
      y2: 0.28
      duration_ms: 220

  - type: click_template
    template: play_button
